<p-toast></p-toast>
<section>
  <h4>Register</h4>
  <form [formGroup]="registerForm">
    <div class="form-grp">
      <input formControlName="username" type="text" placeholder="Username">
    </div>
    <div class="form-grp">
      <input formControlName="email" type="text" placeholder="Email">
    </div>
    <div class="form-grp">
      <input formControlName="password" type="password" placeholder="Password">
    </div>
  </form>
  <div>
    <button id="register-btn" type="button" mat-raised-button (click)="register()" [disabled]="isLoading">
      <p>
        Create Account
      </p>
    </button>
    <div class="divider">
      <mat-divider></mat-divider>
      <span>OR</span>
      <mat-divider></mat-divider>
    </div>
    <button type="button" mat-raised-button class="google-btn" (click)="signInWithGoogle()" [disabled]="isLoading">
      <img src="../../../../assets/images/google.png" alt="Google logo" class="google-logo">
      Sign up with Google
    </button>

  </div>
  <footer>
    <span>Already have an account?</span>
    <a routerLink="/auth/login" class="link-effect">
      <span>Login</span>
    </a>
  </footer>
</section>
