<p-toast></p-toast>
<section>
  <h4>Login</h4>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-grp">
      <input formControlName="email" type="email" placeholder="Email">
    </div>
    <div class="form-grp">
      <input formControlName="password" type="password" placeholder="Password">
    </div>
    <button type="submit" mat-button [disabled]="isLoading">
      <p>
        {{ isLoading ? 'Logging in...' : 'Login' }}
      </p>
    </button>
  </form>
  <footer>
    <span>Don't have an account?</span>
    <a routerLink="/auth/register/" class="link-effect">
      <span>Create account</span>
    </a>
  </footer>
</section>
