@use '../../../partials/variables' as *;

.post-card {
  width: 80%;
  position: relative;
  left: 9.875%;
  right: 15%;
  border-radius: 0.5rem;
  background-color: #fff;
  padding: 1.5rem;
  display: flex;
  gap: 1.5rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .content-head {
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-between !important;
      gap: 0.75rem;
      font-size: 0.75rem !important;

      .title {
        display: flex;
        gap: 0.75rem;
        align-items: center;

        h3 {
          font-weight: 600;
          color: $oxfordblue;
        }

        img {
          width: 1.75rem;
          height: 1.75rem;
          border-radius: 50%;
        }
      }

      .comments {
        display: flex;
        justify-self: end !important;

        .view-comment-btn{
          font-weight: 600;
          cursor: pointer;
          color: $blueviolet;
          outline: none;
          border: none;
          background: transparent
        }

        p {
          font-weight: 500;
          color: $blueviolet;
        }
      }
    }

    p {
      font-weight: 400;
      color: $palesky;
    }
  }


  .post-actions, .edit-actions {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    margin-top: 8px;
  }

  .full-width {
    width: 100%;
  }

  button {
    mat-icon {
      margin-right: 4px;
    }
  }
}
