<p-toast></p-toast>
<section>
  <h4>Register</h4>
  <form [formGroup]="registerForm">
    <div class="form-grp">
      <input formControlName="email" type="text" placeholder="email">
    </div>
    <div class="form-grp">
      <input formControlName="password"  type="password" placeholder="password">
    </div>
    <div class="form-grp">
      <input formControlName="confirmPassword"  type="password" placeholder="confirm password">
    </div>
  </form>
  <button type="button" mat-button (click)="register()">
    <p>
      create account
    </p>
  </button>
  <footer>
    <span>Already have an account?</span>
    <a routerLink="/auth/login" class="link-effect">
      <span>Login</span>
    </a>
  </footer>
</section>
