<section>
  <h4>Register</h4>
  <form>
    <div class="form-grp">
      <input type="text" placeholder="email">
    </div>
    <div class="form-grp">
      <input type="text" placeholder="password">
    </div>
    <div class="form-grp">
      <input type="text" placeholder="confirm password">
    </div>
  </form>
  <button type="button" mat-button>
    <p>
      create account
    </p>
  </button>
  <footer>
    <span>Already have an account?</span>
    <a routerLink="/auth/login" class="link-effect">
      <span>Login</span>
    </a>
  </footer>
</section>
