<section class="create-post">
  <div class="content">
    <div class="profile" (click)="toggleSidebarEvent()">
      <img id="profile-img" src="../../../assets/images/avatars/image-juliusomo.png" alt="" title="toggle sidebar">
      <div>
        <img src="../../../assets/images/icon-edit.svg" alt="">
      </div>
    </div>
  </div>
  <div class="content-grp">
    <textarea name="content" id="post" [(ngModel)]="content"></textarea>
    <button mat-raised-button color="primary" (click)="createPost()" title="create post">
      Create Post
    </button>
  </div>
</section>
