@use './variables' as *;

@mixin formCard-style{

  background-color: #fff;
  width: 22.5rem;
  border-radius: .75rem;
  display: flex;
  flex-direction: column;
  gap: 2.125rem;
  // box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  padding: 1.5rem;

  h4 {
    font-size: 1.5rem;
    font-weight: 300;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;

    input {
      width: 100%;
      border: none;
      padding-top: 0.3125rem;
      padding-bottom: .875rem;
      border-bottom: 1px solid $athensgray;
      caret-color: $blueviolet !important;
      padding-left: 0.75rem;

      &:focus {
        outline: none;
        border-bottom: 1px solid $blueviolet;
      }
    }
  }

  button {
    height: 3rem;
    border-radius: 0.375rem;
    border-style: none;
    cursor: pointer;

    p {
      font-size: 0.9375rem !important;
      font-weight: 500 !important;
      color: #fff;
    }
    background-color: $blueviolet;
  }

  footer {
    display: flex;
    gap: 0.25rem;
    justify-content: center;
    align-items: center;
    font-size: .875rem;

    a{
      position: relative;
      text-decoration: none;
      cursor: pointer;
      color: $blueviolet;
      padding-top: .7px;

      span{
        font-weight: 500;
      }

      &.link-effect::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: .7px;
        background: $blueviolet !important;
        transform: scaleX(0);
        transition: transform 0.5s ease;
      }

      &.link-effect:hover::before {
        transform: scaleX(1);
      }
    }
  }
}


@mixin title-text($font-size: 3rem) {
  font-family: $titlefont;
  font-size: $font-size;
  color: $blueviolet;
  display: inline-block;
}

@mixin gradient-text($direction: to right, $color1: $supernova, $color2: $grenadier, $color3: $pizazz) {
  background: linear-gradient($direction, $color1, $color2, $color3);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}


@mixin google-button-style {
  display: flex;
  align-items: center !important;
  justify-content: center;
  background-color: #fff !important;
  color: rgba(0, 0, 0, 0.54);
  border: 1px solid #ccc;

  &:hover {
    background-color: #f8f8f8;
  }

  .google-logo {
    width: 18px;
    height: 18px;
    margin-right: 8px;
  }
}

@mixin shine-effect {
  position: relative;
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.3) 50%,
      rgba(255, 255, 255, 0) 100%
    );
    transform: rotate(30deg);
    animation: shine 3s infinite linear;
  }
}

@keyframes shine {
  0% {
    transform: translateX(-100%) rotate(30deg);
  }
  100% {
    transform: translateX(100%) rotate(30deg);
  }
}


@mixin profile-rounded{
  border-radius: 50% !important;
  width: 3rem;
  height: 3rem;
}
