$bodyfont: "Rubik",sans-serif;
$titlefont:  "kelsons";
$campton:"campton";

$whisper: #F5F6FA;
$oxfordblue: #334253;
$palesky: #67727E;
$athensgray: #E9EBF0;
$blueviolet: #5357B6;
$burntsienna: #ED6368;
$spindle: #C5C6EF;
$grenadier: #DD2C00;
