@use '../../../partials/variables' as *;

main {
  height: 100%;
  display: flex;
  justify-content: center;
  font-family: $bodyfont;
  position: relative;  // Add this
  .floating-avatar {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 10;  
  }
}




