@use '../../../partials/variables' as *;
@use '../../../partials/mixins' as *;

.fireblog-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: transparent;

  mat-sidenav-container {
    flex: 1;
    display: flex;
    width: 100%;
    overflow: hidden;
  }

  mat-sidenav {
    width: 300px;
    padding: 1rem;
    background-color: white;
  }

  mat-sidenav-content {
    display: flex;
    justify-content: center !important;
    overflow: hidden;

    .fireblog-content {
      flex: 1;
      display: flex;
      flex-direction: column;
      overflow: hidden;

      .posts-section {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        padding: 1.25rem;

        div{
          display: flex;
          color: $oxfordblue;
          font-weight: 500;
        }

        ul {
          width: 80%;
          padding: 1.25rem 1.25rem 10rem  3rem;
          margin-bottom: 6rem !important;
          display: flex;
          flex-direction: column;
          gap: 1.25rem;
          max-height: 38rem;
          overflow-y: auto;


          &::-webkit-scrollbar {
            width: 8px;
          }

          &::-webkit-scrollbar-track {
            background: #f1f1f1;
            border-radius: 4px;
          }

          &::-webkit-scrollbar-thumb {
            background: darken($blueviolet, 2%);
            border-radius: 4px;
          }

          &::-webkit-scrollbar-thumb:hover {
            background: darken($blueviolet, 10%);
          }
        }

        h2 {
          @include shine-effect;
          @include title-text;
          text-align: center;
          color: $blueviolet;
          font-family: $titlefont;
          span {
            @include gradient-text;
          }
        }
      }
    }

    .create-post-wrapper {
      position: fixed;
      bottom: 20px;
      right: 20px;
      display: flex;
      align-items: flex-end;
      z-index: 10;

      .create-post-icon {
        background-color: $pizazz;
        @include shine-effect;
        margin: 0 8rem 3rem 0;
        width: 3rem;
        height: 3rem;
        z-index: 1;
        transition: transform 0.3s ease;
      }


    }
  }
}

.create-post-section {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
