<mat-sidenav-container class="fireblog-container">
  <mat-sidenav #sidenav [opened]="isSidebarOpen" mode="over" position="start">
    <!-- Add your sidebar content here -->
    <app-user-profile/>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="fireblog-content">
      <section class="posts-section">
        <div>
          <h2><span>Fire</span>blog Posts</h2>
          <p>({{ blogPosts.length }})</p>
        </div>
        @if(blogPosts.length > 0){
          <ul>
            <ng-container *ngFor="let post of blogPosts">
              <app-post-card [blogPost]="post" (commentToggled)="onToggleComments($event)"></app-post-card>
              <app-comments *ngIf="expandedPostId === post.id" [postId]="post.id" [comments]="post.comments"></app-comments>
            </ng-container>
          </ul>
        } @else {
          <p>No blog posts available.</p>
        }
      </section>
      <app-create-post class="create-post-section" (toggleSidebar)="toggleSidebar($event)"></app-create-post>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
