@use '../../../../partials/variables' as *;
@use '../../../../partials/mixins' as *;

.likes-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  border-radius: 0.625rem;
  width: 2.5rem;
  height: 6.25rem;
  background-color: $whisper;

  svg {
    cursor: pointer;
    &:hover {
      path {
        transition: .3s ease-in-out;
        fill: $blueviolet;
      }
    }
  }

  p{
    font-size: .875rem;
    font-weight: 600;
    color: $blueviolet;
    @include shine-effect;

    &.default {
      color: $blueviolet;
    }

    &.pizazz {
      color: $pizazz;
    }

    &.supernova {
      color: $supernova;
    }
    &.grenadier {
      color: $grenadier;
    }

    &.animate {
      animation: pop 0.3s ease-in-out;
    }
  }


  @keyframes pop {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
  }
}

